body::before {
  content: "";
  position: fixed; 
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  background-image: linear-gradient(to top left, rgb(48, 48, 48), rgba(0, 0, 0, 1));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 1);
  animation: noise .5s infinite;
}

@keyframes noise {
  0% { background-image: url('Resources/noise1.jpg'), linear-gradient(to top left, rgba(255,255,255,1), rgba(0,0,0,0)); background-size: 100px 100px, cover; background-repeat: repeat, no-repeat; }
  25% { background-image: url('Resources/noise2.jpg'), linear-gradient(to top left, rgba(255,255,255,1), rgba(0,0,0,0)); background-size: 100px 100px, cover; background-repeat: repeat, no-repeat; }
  50% { background-image: url('Resources/noise3.jpg'), linear-gradient(to top left, rgba(255,255,255,1), rgba(0,0,0,0)); background-size: 100px 100px, cover; background-repeat: repeat, no-repeat; }
  75% { background-image: url('Resources/noise4.jpg'), linear-gradient(to top left, rgba(255,255,255,1), rgba(0,0,0,0)); background-size: 100px 100px, cover; background-repeat: repeat, no-repeat; }
  100% { background-image: url('Resources/noise1.jpg'), linear-gradient(to top left, rgba(255,255,255,1), rgba(0,0,0,0)); background-size: 100px 100px, cover; background-repeat: repeat, no-repeat; }
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1c1c1c;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#logo {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1;
}

#contactBtn {
  position: fixed;
  top: 90px;
  left: 270px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

#centerText {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: white;
  z-index: 1;
  cursor: default;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.5); /* Добавлен фон для наглядности */
}

.hidden {
  display: none;
}

.blur {
  filter: blur(5px);
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 250px;
  background: rgba(8, 8, 8, 0.8); 
  border-radius: 20px;  
  z-index: 9999;
  padding-top: 30px; 
  align-items: center; 
}

#popup img {
  width: 260px;
  height: auto;
  margin: 0 auto; 
  display: block;
}

.year {
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);
  color: #141414;
}

.info {
  margin: 30px;
  color: #ffffff;
}

.info h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.info p {
  margin: 5px 0;
}

.info a {
  color: #ffffff;
  text-decoration: underline;
}

#content {
  position: relative;
  z-index: 1;
}

#closeBtn, #fullScreenCloseBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: url('Resources/close.png') no-repeat center;
  width: 20px;
  height: 20px;
  border: none;
}

.full-screen-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: rgba(3, 3, 3, 0.9);
  border-radius: 20px;  
  z-index: 9999;
  display: none;
}

#loadingVideo {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 100px;
  height: 100px;
  z-index: 1000;
}
