body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1c1c1c;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hidden {
  display: none;
}

.blur {
  filter: blur(5px);
}

.blur-transition {
  transition: filter 0.3s ease-in-out;
}

.fade-transition {
  transition: opacity 400ms ease-in-out;
}

.no-select {
  user-select: none;
}

body::before, body::after {
  content: "";
  position: fixed; 
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

body::before {
  z-index: -1;
  background-image: url('Resources/grid.png');
  background-size: 90px 90px;
  background-repeat: repeat;
  background-position: center center;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 1);
}

body::after {
  z-index: -3;
  background-size: 100px 100px;
  background-repeat: repeat;
  animation: noise .5s infinite;
}

@keyframes noise {
  0%, 100% { background-image: url('Resources/noise1.jpg'); }
  25% { background-image: url('Resources/noise2.jpg'); }
  50% { background-image: url('Resources/noise3.jpg'); }
  75% { background-image: url('Resources/noise4.jpg'); }
}

#loadingVideo {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 100px;
  height: 100px;
  z-index: -2;
}

#logo, #centerText {
  position: fixed;
  z-index: 1;
}

#logo {
  top: 50px;
  left: 50px;
}

#contactBtn {
  position: fixed;
  top: 90px;
  left: 270px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

#centerText {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #b1b1b1;
  cursor: default;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.5);
}

#pieMenu, #overlay {
  opacity: 0;
  display: none;
}

.rmbMenu {
  background: rgba(19, 19, 19, 0.8); 
  font-size: 13px;
  padding: 5px 5px; 
  color: #b1b1b1;
  border-radius: 6px;  
  text-align: center;
  box-sizing: border-box; 
  cursor: default;
}

.rmbMenu > div::after {
  content: "";
  display: block;
  width: 3px;
  height: 100%;
  position: absolute;
  right: -3px;
  top: 0;
}

.rmbMenu div:hover {
  color: #f1f1f1; 
}

#pieMenu{
  z-index: 3;
}

.pie-item {
  opacity: 0;
  transition: opacity 0.4s ease-out;
  z-index: 2;
}

.pieMenu {
  display: none;
  /* other styles */
}

.pieMenu.visible {
  display: block;
  /* adjust display as needed, could be flex, grid, etc. */
}

.full-screen-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

#contactPopup {
  width: 300px;
  height: 170px;
  top: 200px;
  left: 200px;
  position: fixed;
  transform: translate(-50%, -50%);
  background: rgba(8, 8, 8, 0.8); 
  align-items: center;
  font-size: 13px;
  border-radius: 10px;  
  z-index: 9999;
}

#contactCloseBtn, #fullScreenCloseBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: url('Resources/close.png') no-repeat center;
  width: 20px;
  height: 20px;
  border: none;
}

.full-screen-popup {
  width: 90%;
  height: 90%;
  background-color: rgba(3, 3, 3, 0.9);
  display: none;
}

#content {
  position: relative;
  z-index: 1;
}

.year {
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);
  color: #636363;
}

.info {
  margin: 30px;
  color: #adadad;
}

.info h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.info p {
  margin: 5px 0;
}

.info a {
  color: #636363;
  text-decoration: underline;
}